/* This file is part of Moodle - http://moodle.org/
//
// Moodle is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// Moodle is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Moodle. If not, see <http://www.gnu.org/licenses/>.*/



/*
The default styles for the tree library
By default the tree has white lines and borders, this means it will not show up on a white background
To change the colours, either change this css or in your own css use !important to override these colours*/

.tree_node
{
width:15em;
border:solid;
text-align:center;
margin:15px 15px 15px 15px;
color:white;
list-style:none;
display:inline-block;
padding:5px;
}

.tree_node:hover
{
border:solid;
text-align:center;
margin:15px 15px 15px 15px;
color:white;
list-style:none;
display:inline-block;
background-color:rgba(255,255,255,0.4);
cursor:pointer;
}


.tree_column
{
display:inline-block;
position:static;
}

.relation_line
{
position:absolute;
width:3px;
background-color:white;
z-index:4;
-webkit-transform-origin:top left;
-moz-transform-origin: top left;
-o-transform-origin: top left;
-ms-transform-origin: top left;
transform-origin: top left;
}

.test_titleblock
{
text-align:center;
}

.tree_wrapper
{
float:left;
white-space:nowrap;
}
#socialwiki_node_description
{
white-space:normal;
word-wrap:break-word;
}

