/*
The default styles for the tree library
By default the tree has white lines and borders, this means it will not show up on a white background
To change the colours, either change this css or in your own css use !important to override these colours*/

.tree_node
{
width:100px;
border:solid;
text-align:center;
margin:15px 15px 15px 15px;
color:white;
list-style:none;
display:inline-block;
}

.tree_node:hover
{
width:100px;
border:solid;
text-align:center;
margin:15px 15px 15px 15px;
color:white;
list-style:none;
display:inline-block;
background-color:rgba(255,255,255,0.4);
cursor:pointer;
}


.tree_column
{
display:inline-block;
position:static;
}

.relation_line
{
position:absolute;
width:3px;
background-color:white;
z-index:4;
-webkit-transform-origin:top left;
-moz-transform-origin: top left;
-o-transform-origin: top left;
-ms-transform-origin: top left;
transform-origin: top left;
}

.test_titleblock
{
text-align:center;
}

.tree_wrapper
{
float:left;
white-space:nowrap;
}
#socialwiki_node_description
{
white-space:normal;
}

#tree_container_div
{
overflow:auto;
}
